html, body {
  --background: #EFF0F0;
  --background-light: #FFFFFF;
  --splash: #DE6262;
  --gray-font: #656565;
  margin: 0;
  padding: 0;
  background-color: var(--background);

}

main {
  margin: 1rem;
}

* {
  box-sizing: border-box;
}