html, body {
  --background: #EFF0F0;
  --background-light: #FFFFFF;
  --splash: #DE6262;
  --gray-font: #656565;
  --secondary-splash: #62A3DE;
  --highlight: #FFF9C4;
  --light-accent: #F0F8FF;
  margin: 0;
  padding: 0;
  background-color: var(--background);

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

main {
  margin: 0 auto; 
  max-width: 1250px;
}

@media (min-width: 768px) {
  body {
    margin: 2rem;
  }
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--light-accent) inset !important;
}

.link-class {
  color: var(--splash);
  text-decoration: none;
}

.link-class:hover {
  color: red;
}